<table class="fields">
	<tbody>
		<tr><th>Name</th>{{input class='content' type='text' value=model.Name}}</tr>
		<tr><th>Description</th>{{textarea class='content' value=model.Description}}</tr>
	</tbody>
</table>