<ul class="nav">
	<li>{{#link-to "accounts" }}Accounts{{/link-to}}</li>
	<li><a href="javascript:Papu.SF.downloadEmberModels(function(obj) { return obj.name === 'Account' || obj.name === 'User'; })">Download model definitions</a></li>
</ul> 	
{{outlet}}
